body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: -webkit-linear-gradient(mediumseagreen,green);
  background: -o-linear-gradient(mediumseagreen,green);
  background: linear-gradient(mediumseagreen,green);
  
}
html{height: 100%;}
